body {
  padding: 0;
    margin: 0;
}
#logo {
  height: 50px;
}
.navbar-brand {
  padding: 0.5px;
}

#bots {
  border-bottom-color: #7FFFD4;
}

#searchbar {
    background-color: #f5f8fa;
    border-radius: 20px;
    border: 1px solid #e6ecf0;
}

#searchbar:focus {
    background-color: #fff;
    border: 2px solid #4dd2ff;
    box-shadow: none;
}

#sam {
  /* width: 1280px; */
  width: 100%;
}

h1 {
  font-size: 80px;
  background: rgba(0, 1, 90, 0.7);
  color: white;
  padding: 20px;
}

.nav-item {
  font-size: 20px;
  padding-right: 50px;
}

.carousel-item {
    width: 100%;
    height: 550px;
}
.carousel-item p {
  font-size: 20px;
}
.carousel-item h5{
  font-size: 40px;
}

#special {
  background: rgba(96, 241, 251, 0.8);
  padding: 1px;
}

#special2 {
  background: rgba(200, 177, 133, 0.7)
}

#special3 {
  background: rgba(0, 75, 0, 0.8)
}

.columnB {
  float: left;
  width: 22%;
  padding: 20px;
}

.column4 {
    float: left;
    width: 35%;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
}

.column4-5{
  overflow:auto;
  background: #4dd2ff;
    margin: -30px -32px 0 0;
    padding: 20px 40px;
}

.events {
  font-size: 30px;
  color: white;
}

#ugh a{
  color: white;
}

#ugh a:hover {
  text-decoration: none;
  color: #0047b3;
}

.view-content{
  font-size: 20px;
  color: white;
  border-top: 2px solid white;
  padding: 10px;
}

.column1 {
    float: left;
    width: 21%;
    padding-top: 50px;
    padding-left: 30px;
}

.column1-5 {
  overflow:auto;
    background: #dbd7d7;
    margin: -30px -32px 0 0;
    padding: 20px 40px;
}

#spotty a{
  color: black;
}
#spotty a:hover {
    text-decoration: none;
    color: #0047b3;
}
.view-content2{
  font-size: 20px;
  border-top: 2px solid grey;
  padding: 10px;
}
#events2 {
  font-size: 30px;
  color: white;
  background: red;
}

.liberty {
  width: 275px;
  height: 320px;
  padding-left: 30px;
}
.lady {
  width: 260px;
  height: 320px;
  padding-left: 5px;
}

div#feature1 {
  position: absolute;
  bottom: -550px;
  height: 140px;
  width: 220px;
  margin: 0px 40px 0px;
  padding: 20px 5px 15px;
  text-align: center;
  background: rgb(204, 245, 255, 0.8);
}
#featured-artist-name h2{
  font-size: 25px;
}

div#feature2 {
  position: absolute;
  bottom: -550px;
  height: 140px;
  width: 220px;
  margin: 0px 20px 0px;
  padding: 20px 5px 15px;
  text-align: center;
  background: rgb(204, 245, 255, 0.8);
}

#featured-artist-name h3{
  font-size: 25px;
}

p#feature-artist-descrption{
  font-weight: bold;
}

#mlane {
  position: absolute;
  top: 1180px;
  right: 770px;
  width: 200px;
  height: 100px;
  z-index: -1;
}

#artMuseum {
  width: 965px;
  height: 290px;
}

#mlk {
  position: relative;
  background: rgb(204, 204, 204, 0.8);
  text-align: center;
  padding:20px;
  width: 400px;
  bottom: 70px;
  left: 550px;
  color: white;
}

footer {
  padding-top: 80px;
}

.backgg {
    background-image: url("blue.jpg");
    height: 100%;
}
.back3 {
  text-align: center;
  padding-bottom: 40px;
}
footer nav {
  text-align: center;
  padding: 40px;
}

.icons {
  padding: 10px;
}

.colBorder {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.colStyle {
  text-align: center;
  float: left;
  width: 25%;
}

.colStyle h6 {
  letter-spacing: 3px;
  font-size: 25px;
  color: #4c4c67;
}

ul.dolphin{
  text-align: left;
  list-style-type: none;
  font-size: 13px;
}

.dolphin li {
  margin: 8px;
}

.dolphin a:hover {
  text-decoration: none;
}
